---

---

<main class='h-screen flex justify-center items-center'>
    <div class='flex flex-col items-center gap-y-5 '>
        <img src='/icono.png' alt='Koala Icono' class='w-40' />
        <div class='flex flex-col text-center justify-center gap-y-10 px-3'>
            <div>
                <h1 class='text-4xl lg:text-5xl font-semibold max-w-[1000px] mb-2'>
                    Pagina No encontrada
                </h1>
                
                <p>Lo sentimos, la pagina que estas buscando no fue encontrada.</p>
            </div>

            <div class='flex justify-between'>
                <a
                    href='/'
                    class='flex items-center hover:text-primary font-medium'
                >
                    <svg
                        xmlns='http://www.w3.org/2000/svg'
                        class='w-5 h-5'
                        viewBox='0 0 24 24'
                        stroke-width={2}
                        stroke='currentColor'
                        fill='none'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                    >
                        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                        <path d='M5 12l14 0'></path>
                        <path d='M5 12l4 4'></path>
                        <path d='M5 12l4 -4'></path>
                    </svg>
                    Regresar al inicio
                </a>

                <a
                    href='https://waa.co/ec6148'
                    target='_blank'
                    class='text-white font-medium flex justify-center gap-x-1 py-2 px-4 bg-primary rounded-md'
                >
                    <svg
                        xmlns='http://www.w3.org/2000/svg'
                        class='w-6 h-6'
                        viewBox='0 0 24 24'
                        stroke-width={2}
                        stroke='currentColor'
                        fill='none'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                    >
                        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                        <path d='M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9'></path>
                        <path d='M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1'></path>
                    </svg>
                    <span>Whatsapp</span>
                </a>
            </div>
        </div>
    </div>
</main>