---
import Layout from '@/layouts/Layout.astro';
// import { supabase } from '@/supabase/client';
// import type { Item } from '@/types/database';

/* components */
import {Carrousel} from '@/components/catalogue/carrousel'
import Navbar from '@/components/catalogue/navigation/navbar.astro'
import {CataloguePage} from '@/components/catalogue/products/catalogue-page'

/* let categories: Item[] | undefined = []

const fetchCategories = async () => {
		const { data: categories, error } = await supabase.from('categories').select('*')

		if (error) console.log(error)
		if (categories) return categories
	}

categories = await fetchCategories() */
---

<Layout title='Catalogo'>
    <main>
        <header>
            <Carrousel client:visible />
        </header>
        <Navbar />

        <!-- {categories?.map((category) => (
            <ProductSection
                title={category.name}
                link={category.link}
            />
        ))} -->
        <CataloguePage client:load />
    </main>
</Layout>

<style is:inline>
    .swiper-pagination-bullet-active {
	background-color: white !important ;
}
</style>