---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='google-site-verification'
			content='GYckiFPeoWCwagRYpzl5U-iLkGUKx0oPSi_gUkeoxzE'
		/>

		<link rel='canonical' href='https://koalavzla.com/' />

		<!-- favicon -->
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='manifest' href='/site.webmanifest' />

		<!-- OpenGraph -->
		<meta property='og:title' content='Koala Fitness Store' />
		<meta property='og:type' content='website' />
		<meta
			property='og:image'
			content='https://res.cloudinary.com/dojdlbbux/image/upload/v1723731061/icono_uh316d.png'
		/>
		<meta property='og:url' content='https://koalavzla.com/' />

		<meta name='robots' content='index, follow' />
		<meta
			name='description'
			content='¡Somos el camino hacia tus GAINS! Te brindamos asesoría certificada y amplia variedad en suplementos nutricionales de las mejores marcas internacionales'
		/>

		<title>Koala Fitness Store - {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	body {
		background-color: #f3f3f3;
	}

	/* .swiper-button-prev {
		right: none;
		left: 10px;
	} */
</style>
